.contactus-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    h2, p {
        font-family: var(--font-main);
   
    }

    .text-wrapper{
        text-align: center;
        font-size: 1.2rem;
        text-align: center;
        

        #last-message{
            padding:2rem;
            font-size: 1.7rem;
            font-weight: bold;
            text-decoration: underline;
        }
    }

}

.contactus-form-container {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form-row {
            display: flex;
            gap: 1rem;

            .form-group {
                flex: 1;
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 0.5rem;
                    font-weight: bold;
                    font-family: var(--font-main);
                }

                input {
                    padding: 0.75rem;
                    font-size: 1rem;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    font-family: inherit;

                    &:focus {
                        outline-color: var(--accent-color);
                    }
                }

             
            }
        }
    }

    .submit-button {
        background-color: var(--accent-color);
        color: white;
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #006600;
        }
    }
}


textarea {
    padding: 0.75rem; 
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;

    &:focus {
        outline-color: var(--accent-color);
    }
}

.chat-btn {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: block; 
    width: fit-content; 
    margin-top: 2rem; 
    margin-bottom:5rem;
    
    &:hover {
        background-color: #006600; 
    }
}

@media (max-width: 768px) {
    .contactus-form-container .contact-form .form-row {
        flex-direction: column;

        .form-group {
            width: 100%;
        }
    }
}