body {
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;
}

main h1 {
  font-family: "Vogue", sans-serif;
  color: #004d00;
  text-align: center;
  margin-bottom: 1rem;
}

.shipping-container {
  display: grid;
  margin: 20px auto; /* Centrera på horisontal axel */
  grid-template-columns: 1fr 400px;
  gap: 20px;
  justify-items: center;
  max-width: 1200px; /* Begränsar bredden */
}

.form {
  background-color: #f8f7f1;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-left: 10px;
}

form {
  max-width: 100%;
}

.underlined {
  text-decoration: underline;
}

.bold-text {
  font-weight: bold;
}

.summary {
  background-color: #f8f7f1;
  padding: 20px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0;
}

h3 {
  font-family: "Vogue", sans-serif;
  color: #004d00;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 18px;
  margin-top: 1rem;
}

.summary ul {
  padding: 0;
  margin: 0;
}

.summary li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
  margin-bottom: 0.75rem;
}

.price {
  text-align: left;
  white-space: nowrap;
}

li strong {
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.submit-btn {
  background-color: #004d00;
  color: white;
  border: none;
  padding: 0.75rem;
  width: 100%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.submit-btn:hover {
  background-color: #003300;
}

.product-item {
  grid-column: 2;
  background-color: #f8f7f1;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
}

.product-details {
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 10px 0;
}

.product-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.product-name,
.product-price {
  margin-left: 30px;
  height: auto;
}

.product-info {
  font-weight: lighter;
  text-align: left;
  margin-right: 10px;
}

.icons-container {
  margin-top: 50px;
  margin-left: 300px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-text img {
  display: block;
}

.icon-text p {
  margin: 0;
}

@media (max-width: 768px) {
  .shipping-container {
    grid-template-columns: 1fr;
  }
  .form,
  .summary {
    max-width: 90%;
  }
}
