main {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: 10px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #004d00;
    font-family: var(--font-main);
  }
}

/* Delivery and Payment Options */
.delivery-options,
.payment-options {
  background-color: #f8f7f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

  p {
    margin-top: 5px;
    color: rgb(125, 121, 121);
  }
  h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #004d00;
    text-align: center;
    margin-bottom: 20px;
  }
}

/* Payment and Delivery Options */
.payment-option,
.delivery-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;

  input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.5);
  }

  input[type="radio"]:checked {
    accent-color: #004d00;
  }
  .payment-image,
  .delivery-image {
    max-width: 60px;
    height: auto;
    object-fit: contain;
  }
}

/* Content on the left payment or delivery description */
.payment-content,
.delivery-content {
  flex: 1;
  margin-right: 20px;
}

/* Button styles for Continue and Billing */
.continue-btn {
  width: 100%;
  padding: 12px;
  background-color: #004d00;
  color: white;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.continue-btn:hover {
  background-color: #003300;
}

.billing-btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;

  a{
    text-align: center;
  }
}

/* For smaller screens, adjust padding and layout */
@media screen and (max-width: 768px) {
  main {
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .payment-option,
  .delivery-option {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .payment-option img,
  .delivery-option img {
    max-width: 50px;
  }

  .continue-btn {
    padding: 15px;
    font-size: 14px;
  }
}

/* Additional responsiveness for smaller devices */
@media screen and (max-width: 480px) {
  .payment-option,
  .delivery-option {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .payment-option img,
  .delivery-option img {
    max-width: 40px;
  }

  .continue-btn {
    padding: 18px;
    font-size: 15px;
  }
}
